* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: 	#355E3B;
}


.head {
    background-color: black;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
    color: white;
   padding: 50px 10%;
   z-index: 100;
}

.Ali {
    display: flex;
    justify-content: flex-start;
    width: 350px;
  
}


a {
    text-decoration: none;
    color: white;

}

.info {
    color: white;
    background-color: transparent;
    position: relative;
    top: 50px;
    left: 50px;
    bottom: 0;
    width: 700px;
    padding: 30px;
}

.info h1 {
    padding: 10px;
   font-size: 30px;
}

.info h2 {
    padding: 10px;
    color: #90EE90;  
}

.info > p {
    padding: 10px;

}

button {
    position: relative;
    top: 10px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 20px;
    margin-left: 0;
    width: 150px;
    border-radius: 10px;
    font-size: large;
}

 .hire {
    color: #355E3B;
    background-color: #90EE90;
    border: 1px solid #355E3B;
    
}

.usap {
    color: #90EE90;
    background-color: #355E3B;
    border: 1px solid #90EE90;
}

.picture {
    position: absolute;
    left: 900px;
    top: 150px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
}

.socials {
    position: relative;
    top: 200px;
    left: 100px;
    width: 200px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.socials >  img {
    border: 1px solid #90EE90;
    color: #90EE90;
    border-radius: 50%;
}

